<div class="topnav shadow p-1">
    <img class="jpg-icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThrikoAYxA8a9ZtqfNftIaDAqewRuQMO6xnT-fY_hB&s" style="right: 110px;">
    <span class="menu" onclick="openNav(true)"><i class="bi bi-list"></i></span>
</div>

<div class="sidebar shadow p-3" id="sidebar" >

<ul>
    <li><a routerLink="/peticiones"><i class="bi bi-card-checklist"></i>Peticiones</a></li>
    <li><a href="#"><i class="bi bi-person-circle"></i>Perfil</a></li>
    <li>
        <a routerLink="/peticiones"><i class="bi bi-info-circle"></i>Ayuda<i class="bi bi-arrow-bar-right icon"></i></a>
        <ul class="dropdow-container">
            <a href="/peticiones"><i class="bi bi-nut"></i>Ayuda1</a>
            <a href="#"><i class="bi bi-headset"></i>Ayuda2</a>
        </ul>
    
    </li>
    <li><a href="#"><i class="bi bi-box-arrow-left"></i>Salir</a></li>
</ul>

</div>

<div class="main-content">
    <router-outlet></router-outlet>
</div>

