<app-dashboard></app-dashboard>
<div class="fondo">
<div class="container">
    <h1 style="color: #ff9f3c; text-align: center;">PETICIONES</h1>
    <table *ngIf="data" datatable [dtOptions]="dtOptions" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>descripción</th>
                <th>fecha de registro</th>
                <th>fecha de respuesta</th>
                <th>tipo de petición</th>
                <th>documento del abogado</th>
                <th>cliente</th>
                <th>seguimiento</th>
                <th>prioridad</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{ item.pet_id }}</td>
                <td>{{ item.pet_descripcion }}</td>
                <td>{{ item.pet_fecha_registro }}</td>
                <td>{{ item.pet_fecha_respuesta }}</td>
                <td>{{ item.tipo_pe_descripcion }}</td>
                <td>{{ item.abo_documento }}</td>
                <td>{{ item.cliente }}</td>
                <td>{{ item.seg_descripcion }}</td>
                <td>{{ item.pet_prioridad }}</td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['/actualizar', item]">Editar</button>
                    <button class="btn btn-danger" (click)="(item)">Ver</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="fondo-bottom"></div>
</div>
