<<app-inicio></app-inicio>>
<br>
<div class="container">
    <h1 style="color: #ff9f3c; text-align: center;">PETICIONES</h1>
    <table *ngIf="data" datatable [dtOptions]="dtOptions" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>descripcion</th>
                <th>fecha registro</th>
                <th>fecha respuesta</th>
                <th>tipo peticion</th>
                <th>documento abogado</th>
                <th>cliente</th>
                <th>seguimiento</th>
                <th>prioridad</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{ item.pet_id }}</td>
                <td>{{ item.pet_descripcion }}</td>
                <td>{{ item.pet_fecha_registro }}</td>
                <td>{{ item.pet_fecha_respuesta }}</td>
                <td>{{ item.tipo_pe_id }}</td>
                <td>{{ item.abo_documento }}</td>
                <td>{{ item.id_clientes }}</td>
                <td>{{ item.seg_id }}</td>
                <td>{{ item.pet_prioridad }}</td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['/actualizar', item]">Editar</button>
                    <button class="btn btn-danger" (click)="(item)">Ver</button>
            </tr>
        </tbody>
    </table>
</div>
