<div class="main">
    <!-- Actualizar petición form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Actualizar Petición</h2>
                    <form method="POST" class="register-form" id="register-form">
                        <div class="form-group">
                            <p>Id</p>
                            <input type="text" name="pet_id" id="pet_id" placeholder="Id" [value]="item.pet_id" readonly/>
                        </div>
                        <div class="form-group">
                            <p>Descripción</p>
                            <input type="text" name="pet_descripcion" id="pet_descripcion" placeholder="Descripción" [value]="item.pet_descripcion" readonly/>
                        </div>
                        <div class="form-group">
                            <p>Fecha Registro</p>
                            <input type="text" name="pet_fecha_registro" id="pet_fecha_registro" placeholder="Fecha Registro" [value]="item.pet_fecha_registro" readonly/>
                        </div>
                        <div class="form-group">
                            <p>Fecha Respuesta</p>
                            <input type="text" name="pet_fecha_respuesta" id="pet_fecha_respuesta" placeholder="Fecha Respuesta" [value]="item.pet_fecha_respuesta" readonly/>
                        </div>
                        <div class="form-group">
                            <p>Tipo de Petición</p>
                            <input type="text" name="tipo_pe_id" id="tipo_pe_id" placeholder="Tipo Petición" [value]="item.tipo_pe_id" readonly/>
                        </div>
                        <div class="form-group">
                            <p>Documento del Abogado</p>
                            <input type="text" name="abo_documento" id="abo_documento" placeholder="Documento" [value]="item.abo_documento" readonly/>
                        </div>
                        <div class="form-group">
                            <p>Cliente</p>
                            <input type="text" name="id_clientes" id="id_clientes" placeholder="Clientes" [value]="item.id_clientes" readonly/>
                        </div>
                        <div class="form-group">
                            <p>Estado del Seguimiento</p>
                            <select class="form-select" aria-label="Default select example" name="seg_estado" id="seg_estado" [(ngModel)]="est_id">
                                <option value="1">Registrada</option>
                                <option value="2">En curso</option>
                                <option value="3">Finalizada</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p>Descripción del Estado</p>
                            <input type="text" name="his_descripcion" id="his_descripcion" placeholder="Descripción del Estado" [(ngModel)] = "his_descripcion"/>
                            <br>
                            <button class="btn btn-primary" (click)="postEstado()">Agregar Estado</button>
                        </div>
                        <div class="form-group">
                            <p>Id Seguimiento</p>
                            <input type="text" name="id_seg" id="id_seg" placeholder="Id seguimiento" [value]="item.seg_id" [(ngModel)] = "seg_id"/>
                        </div>
                        <div class="form-group">
                            <p>Novedades del Seguimiento</p>
                            <input type="text" name="seg_descripcion" id="seg_descripcion" placeholder="Novedades del seguimiento" [(ngModel)] = "seg_descripcion"/>
                            <br>
                            <button class="btn btn-primary" (click)="postSeguimiento()">Agregar novedad</button>
                        </div>
                        <div class="form-group">
                            <p>Prioridad</p>
                            <input type="text" name="pet_prioridad" id="pet_prioridad" placeholder="Prioridad" [value]="item.pet_prioridad" readonly/>
                        </div>
                        <span class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Actualizar" (click)="putPeticion()"/>
                        </span>
                        <span class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Cancelar" routerLink="/peticiones"/>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
