<app-dashboard></app-dashboard>
<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="https://cdn-icons-png.flaticon.com/512/7816/7816916.png" alt="img-avatar">
            </div>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">{{nombre}}</h3>
            <p class="texto"></p>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono bi bi-envelope-fill">  Correo electronico: {{correo}}</i></li>
                <li><i class="icono bi bi-person-vcard-fill">  cedula: {{cedula}}</i></li>
                <li><i class="icono bi bi-building">  Trabaja en:  Colmenares y Asociados</i></li>
                <li><i class="icono bi bi-geo-alt-fill">  Ubicacion:  OFICINA, Ac. 100, Bogotá</i></li>
            </ul>
        </div>
    </div>
</section>